@model SushiPOP_YA1A_2C2023_G2.DTO.Empleados.CrearEmpleadoDTO;
@{
    ViewData["Title"] = "Creación de Empleado";
}

<h1>Creación de Empleado</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="was-validated">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" minlength="5" maxlength="30" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Apellido" class="form-label"></label>
                <input asp-for="Apellido" minlength="5" maxlength="30" class="form-control" required />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Direccion" class="form-label"></label>
                <input asp-for="Direccion" maxlength="100" class="form-control" required />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Telefono" class="form-label"></label>
                <input asp-for="Telefono" minlength="10" maxlength="10" class="form-control" required />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FechaNacimiento" class="form-label"></label>
                <input asp-for="FechaNacimiento" class="form-control datevalid" required />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>

                <script type="text/javascript">
                    $(".datevalid").datepicker({
                        defaultDate: new Date(),
                        format: 'DD/MM/YYYY',
                        locale: 'es'
                    });
                </script>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" maxlength="100" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    </script>
}
